.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%; /* Use percentage for responsiveness */
  max-width: 400px; /* Limit max width */
}

.top-div {
  display: flex; /* Ensure flex display */
  justify-content: space-between;
  align-items: center; /* Center vertically */
}

.top-div > h2 {
  background-color: white;
}

.top-div > button {
  border: none;
  color: red;
  background-color: white;
}

.modal-content > form {
  background-color: white;
}

.modal-content > button {
  background-color: white;
}

form > button {
  background-color: white;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: thin solid grey; /* Use shorthand for border */
}

.submitButton {
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .modal-content {
      padding: 10px; /* Less padding on smaller screens */
  }

  .submitButton {
      margin-left: 0; /* Center button on smaller screens */
      width: 100%; /* Full width */
  }

  .top-div {
      flex-direction: row; /* Stack items on smaller screens */
      align-items: flex-start; /* Align items to the start */
  }

  .top-div > button {
      margin-top: 10px; /* Space between title and button */
  }
}
